.form-spacing{
    color:white; 
    margin-left: 2.1rem; 
    margin-right: 2rem
}

.weight-texts {
    color:white;
    background-color: black;
    padding:4px;
    vertical-align: text-bottom;

    border-radius: 5rem;
    border: 2px solid white;
    width:10%;
    text-align: center;
}

.stim-form-weights-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.form-name-input {
    color:white;
    margin-left: 16px;
    background: transparent;
    border-bottom-color: white;
    border-inline-style: none;
    padding: 4px;
    border-radius: 4px;
    border-top: transparent;
}

.form-add-btn {
    width: 20%;
    margin-bottom : 1.5rem;
    margin-inline: auto; 
    display: block; 
    border: 2px solid #fccd61; 
    border-radius: 8px; 
    background-color:#fccd61; 
    color: darkslateblue; 
    font-weight: bold
} 

.vis-obj-form-input {
    color:white;
    background-color: black;
    border-bottom-color: white;
    border-inline-style: none;
    padding:4px;
    vertical-align: text-bottom;

    border-radius: 0.5rem;
    border-top: hidden;
    text-indent: 1rem;
}

.exp-header {
    color:White; 
    text-align: center; 
    margin-bottom:1rem; 
    margin-top:1rem;
}

.bottom-white-outline-input{
    color:white;
    background-color: black;
    border-bottom-color: white;
    border-inline-style: none;
    padding:4px;
    vertical-align: text-bottom;
    text-indent:0.5rem;
}

.me-1 {
    font-size:Large; 
    font-family:Auto; 
    margin: 0px 8px 12px; 
    vertical-align: super; 
    display:none
}

.tabs-div {
    background-color: black;
    border-radius: 1rem;
    border: 2px solid white;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

#exp-creator-name {
    color:white;
    background-color: black;
    border: 2px solid white;
    border-radius: 5rem;
    margin : 1rem;
    padding:4px;
    vertical-align: text-bottom;
    text-indent:1rem;
}

.sl-modal-body{
    color:white;
    background:black;
    text-align : center;
}

.sl-modal-header{
    color:white;
    background:black;
}

.sl-button{
    color: white; 
    background-color:transparent;
    border-color : white;
    font-weight: bold;
}

.sim-btns {
    color: darkslateblue; 
    font-weight: bold;
}

.result-options-text {
    width: 50%; 
    color:White; 
    text-align:center;
}

.result-option-map {
    display: flex !important;
    width:40%;
    background-color: #272a31; /* rgb(39; 42; 49) */
    border-radius: 1rem;
    padding-top: 1rem;
    margin-left : 10rem;
}

.result-option-stim {
    display: flex !important;
    width:40%;
    background-color: #272a31; /* rgb(39; 42; 49) */
    border-radius: 1rem;
    padding-top: 1rem;
    margin-left : 4rem;
}

.result-options{
    display: flex;
    margin-right:2rem;
    margin-left:2rem;
    margin-bottom:1rem;
}

.surface-plot-spacing {
    padding-left : 0.5rem;
    margin-right : 1rem;
    margin-left: 2rem;
    /* 'border':'1px solid'; 'border-radius': 10px; 'backgroundColor':'#FFFFFF' */
}

.line-plot-spacing {
    padding-left : 1rem;
    margin-left: 2rem;
}

.result-time-div {
    /* margin: 1rem 15rem; */
    margin: 1rem 5rem 0rem;
    place-content: center;
    display: flex;
    align-items: baseline;
}

.result-time-text {
    font-size: large; 
    color: white;
    margin-right: 3rem;
}

.result-time-inp {
    width: 30%;
    background-color:black !important;
    /* margin: 1rem 15rem 1rem; */
}

.result-graphs-div{
    display: flex;
    margin: 1rem 2rem 1rem;
    align-self: center;
}