.para-spacing {
    padding: 8px;
    margin: 8px;
    margin-top: 12px;
}

#center-links {
    display:flex !important;
    justify-content:center !important;
}

#goto-exp {
    color: darkslateblue; 
    font-weight: bold;
    margin-top:32px;
}